@charset "utf-8";

h3{background-color:AntiqueWhite;
	color:Tomato;
	font-size:1.5rem;
	width: 800;
	height: 60;
	text-align: left;
	line-height: 90px;
	border-radius:10px 10px 10px 10px;/* 左上 右上 左下 右下 */
	border:solid 1px #CD9A47;
}
h4{background-color:rgb(224, 122, 27);
	color:azure;
	font-size:1.5rem;
	width: 800;
	height: 60;
	text-align: left;
	line-height: 90px;
	border-radius:10px 10px 10px 10px;/* 左上 右上 左下 右下 */
	border:solid 1px #CD9A47;
}
.grayback{background-color:gainsboro;
	border-radius:10px 10px 10px 10px;/* 左上 右上 左下 右下 */
}
